<%= form_for @fighting, html: {class: "pure_form"} do |f| %>
  <% if @fighting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fighting.errors.count, "error") %> prohibited this fighting from being saved:</h2>

      <ul>
      <% @fighting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'pure-input-1' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
