
<h1>Listing fightings</h1>

    <% @fightings.each do |fighting| %>
        <div class="fighting_item">
            <%= link_to fighting.name, fighting, class: 'fighting_name' %>

            <%= form_for fighting, url:{action:'add_record'}, method:'post', html:{class: 'pure-form'} do |f| %>
                <%= text_field_tag 'notes' %>
                <%= f.hidden_field :id %>
                <%= button_tag '完成', name: 'succeed', value: 'true', class: 'pure-button pure-button-primary' %>
                <%= button_tag '失败', name: 'succeed', value: 'false', class: 'pure-button pure-button-primary' %>
            <% end %>

        </div>
    <% end %>
<br>

<%= link_to 'New Fighting', new_fighting_path %>
