<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @fighting.name %>
</p>

<% @fighting_records.each do |record| %>
    <div><%= record.dt %></div>
<% end %>

<%= link_to 'Edit', edit_fighting_path(@fighting) %> |
<%= link_to 'Destroy', @fighting, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', fightings_path %>
