<h1 style="text-align:center; padding:20px">Listing Fighting Records</h1>

<table>
  <thead>
    <tr class="fighting_record_row_header">
      <th>Dt</th>
      <th>Notes</th>
      <th>Fighting</th>
      <th>Completed</th>
      <th colspan="3">operation</th>
    </tr>
  </thead>

  <tbody>
    <% @fighting_records.each do |fighting_record| %>
      <tr class='fighting_record_row'>
        <td><%= fighting_record.dt.strftime('%F %R') %></td>
        <td><%= fighting_record.notes %></td>
        <td><%= fighting_record.fighting==nil ? '' : fighting_record.fighting.name %></td>
        <td><%= fighting_record.succeed? ? '完成' : '失败' %> </td>
        <td><%= link_to 'Show', fighting_record %></td>
        <td><%= link_to 'Edit', edit_fighting_record_path(fighting_record) %></td>
        <td><%= link_to 'Destroy', fighting_record, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fighting record', new_fighting_record_path %>
